/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body {
  background-color: pink;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#street-view {
  height: 70%;
  filter: invert(1)
}