/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html *, body * {
  margin: 0;
}

body {
  background-color: #fff1e6;
  color: #826e5a;
  font-size: 1.15rem;
}

header {
  height: 20vh;
  background-color: #826e5a;
  color: #eddcd2;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

.wrapper {
  max-width: 75vw;
  margin: 0 auto;
  text-align: center;
}

.wrapper * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
  display: inline-block;
  margin-bottom: 2rem;
}

span {
  padding: 0 .25rem;
}

.route {
  display: inline-block;
  width: 15rem;
  text-align: right;
  margin-bottom: 2rem;
}

.description {
  display: inline-block;
  width: 30rem;
  text-align: left;
  background-color: #f3e5db;
  padding: .1rem .5rem;
}

.line * {
  vertical-align: top;
}

footer {
  margin-top: 2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

code {
  background-color: #8e8277;
  color: #fff1e6;
  border-radius: 5px;
  padding: .075rem;
  font-family: monospace !important;
}

a {
  text-decoration: none;
  color: #608844;
}

a:hover {
  color: #acb6a5;
  transition: all 0.25s ease-out;
}

.title * {
  font-size: 1.5rem;
  text-decoration: underline #dad3ca;
  background-color: initial;
  color: #8e8277;
  text-align: center;
}